<!DOCTYPE html>

<%- include ('../partials/head.ejs') %>

<body>
    <%- include ('../partials/nav.ejs') %>
    <section>
        <H2></H2>
        <form action="/ticket">
        <div class="form-container" >
        <fieldset class="form1">
                
            <label for="location">
                <h2>Van</h2> </label>
            <input type="text" list="locaties" id="location" name="location" value="<%= queries.location %>"  placeholder="Adres, station of postcode" required ">

        
            <datalist id="locaties">
                <option id="HL" value="Huidige Locatie" <% if (queries.location == "Huidige Locatie") { %> <% } %>>
                    <option value="Huis" <% if (queries.location == "Huis") { %> <% } %>>
                        <option value="Werk" <% if (queries.location == "Werk") { %> <% } %>>
            </datalist>

        </fieldset>
        <fieldset class="form1">
           
            <label for="destination">
                <h2>Naar</h2> </label>
            <input type="text"  list="bestemmingen" id="destination" name="destination" value="<%= queries.destination %>" placeholder="Adres, station of postcode" required/>

            <datalist id="bestemmingen">
                    <option id="HL2" value="Huis" <% if (queries.destination == "Huis") { %> <% } %>>
                        <option id="WK" value="Werk" <% if (queries.destination == "Werk") { %> <% } %>>
            </datalist>
        </fieldset>
    </div>

    <div class="form-container" > 
        <fieldset id="hour0" class="datum">
            <label for="datum">
                <h2>Datum </br> <input type="number"  id="day" min="1" name="day" step='1'   max="31" placeholder="DD"  value="<%= queries.day %>"  maxlength = "2" oninput="maxLengthCheck(this)" required> 
               
                    /
                    <input type="number" id="month" min="1" name="month"  max="12" placeholder="MM" step='1'  value="<%= queries.month %>"  maxlength = "2" oninput="maxLengthCheck(this)"  required > </h2> </label>
                
        
            </fieldset>
        <fieldset id="hour0" class="datum">
            <label for="hour">
                <h2>ik vertrek om </br> <input type="number" id="hour" min="1" name="hour" step='1'   max="23" placeholder="10"  value="<%= queries.hour %>" maxlength = "2" oninput="maxLengthCheck(this)"  required> : <input type="number" id="minuten" min="00" name="minuten"  max="59" placeholder="00" step='1'   value="<%= queries.minuten %>" maxlength = "2" oninput="maxLengthCheck(this)"  required> </h2> </label>
                
        
            </fieldset>
        
           
       

        </div>
        <div class="form-container" >
            <button type="submit">Submit</button>
            </div>
        </form>
    </section>
    <script defer src="./js/script.js"></script>

</body>

</html>