<!DOCTYPE html>
<html lang="en">


    <%- include ('../partials/head.ejs') %>

<body id="ticket">
    <div class="settings">
        <H2>Jouw ticket</H2>
        <button id="printsheet">Print</button>
</div>

    <div class="custom_ticket">
        <section>
            <h2>Trein Ticket</h2>
        </section>
        <section>
            <img style="margin-bottom:-5px" src="../source/pictures/metalbg2.png" alt="">
        </section>
            <section>
                <main>
                    <strong>Starring:</strong> 
                        <h2>Marijn Meijles</h2>
                </main>

            </section>
            <section>

                <% if(queries.location == "Huis") { %>
                    <h2 id=textLocaties>
    
                        <%= queries.location %>.
    
                    </h2>
                    <% } else if (queries.location == "Werk")  { %>
                    <h2 id=textLocaties>
    
                        <%= queries.location %>.
    
                    </h2>
                    <% } else if (queries.location == "Huidige Locatie")  { %>
                        <h2 id=textLocaties>
        
                            <%= queries.location %>.
        
                        </h2>
    
                    <% } else  { %>
                        <h2 id=textLocaties>
                            <%= queries.location %>.
                        </h2>
                        <% } %>

                        <p> Naar </p>
                <% if(queries.destination == "Huis") { %>
                <h2 id=textDestination>

                    <%= queries.destination %>.

                </h2>
                <% } else if (queries.destination == "Werk")  { %>
                <h2 id=textDestination>

                    <%= queries.destination %>.

                </h2>

                <% } else  { %>
                    <h2 id=textDestination>
                        <%= queries.destination %>.
                    </h2>
                    <% } %>

            </section>
            <section>

                <ul>
                    <li>
                        <h2 id=textHour>

                            Datum 
            
                            </h2>
                    </li>
                    <li>
                        
                        <h2 id=textHour>

                            Vertrek om 
            
                            </h2>
                    </li>
                    
                </ul>
                <ul>
                    <li> <h3><%= queries.day %>/<%= queries.month %></h3></li>
                    <li>
                        

                            <h3><%= queries.hour %>:<%= queries.minuten %></h3>
            
                            
                    </li>
                    
                </ul>
                


             


            </section>
            <section>
                <img style="margin-bottom:-5px" src="../source/pictures/barcode.png" alt="">
            </section>

    </div>
 
    <!-- <script src="js/script.js"></script> -->
    <script src="js/printscript.js"></script>
  

     
</script>
</body>


</html>
